{% extends 'base.html.twig' %}

{% block body %}

<h1>Upravit produkt</h1>

    
<div class="form-container">
    {{ form_start(form) }}
        {{ form_row(form.code, {
            'label_attr': {'class': 'form-label'},
            'attr': {'class': 'form-input'},
            'label': 'Kód'
        }) }}

        {{ form_row(form.name, {
            'label_attr': {'class': 'form-label'},
            'attr': {'class': 'form-input'},
            'label': 'Název'
        }) }}

        {{ form_row(form.description, {
            'label_attr': {'class': 'form-label'},
            'attr': {'class': 'form-input'},
            'label': 'Popis'
        }) }}

        {{ form_row(form.price, {
            'label_attr': {'class': 'form-label'},
            'attr': {'class': 'form-input'},
            'label': 'Cena'
        }) }}

        {{ form_row(form.brand, {
            'label_attr': {'class': 'form-label'},
            'attr': {'class': 'form-select'},
            'label': 'Značka'
            
        }) }}

        {{ form_row(form.material, {
            'label_attr': {'class': 'form-label'},
            'attr': {'class': 'form-select'},
            'label': 'Material'
        }) }}

        {{ form_row(form.save, {
            'attr': {'class': 'edit-button button'},
            'label': 'Upravit'
        }) }}
    {{ form_end(form) }}
    <a class="back" href="{{ path('product_index') }}">Zpět</a>
</div>

{% endblock %}