{% extends 'base.html.twig' %}

{% block title %}Produkty{% endblock %}

{% block body %}

<h1>Produkty</h1>
<div class="table-container">
    <table>
        <thead>
                <tr>
                    <th>Kod</th>
                    <th>Nazev</th>
                    <th>Popis</th>
                    <th>Cena</th>
                    <th>Znacka</th>
                    <th>Material</th>
                    <th></th>
                </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.code }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.brand.name }}</td>
                    <td>{{ product.material.name }}</td>
                    <td><a href="{{ path('product_edit', {'id': product.id}) }}">Upravit</a></td>
                </tr>   
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pagination-container">
    {% if currentPage > 1 %}
        <a class='prev' href="{{ path('product_index', { page: currentPage - 1 }) }}">Předchozí</a>
    {% endif %}
        <p class='pages'>{{ currentPage }}/{{ totalPages }}</p>
    {% if currentPage < totalPages %}
        <a class='next' href="{{ path('product_index', { page: currentPage + 1 }) }}">Další</a>
    {% endif %}
</div>
{% endblock %}