{% extends 'base.html.twig' %}

{% block title %}Produkty{% endblock %}

{% block body %}

<h1>Produkty</h1>

<form method="get" action="{{ path('product_index') }}" class="sort-filter-form">
    <div class="sort-ipnut">
        <div>
            <label for="sort">Seřadit podle:</label>
            <select name="sort" id="sort">
                <option value="code" {% if sort == 'code' %}selected{% endif %}>Kod</option>
                <option value="name" {% if sort == 'name' %}selected{% endif %}>Nazev</option>
                <option value="price" {% if sort == 'price' %}selected{% endif %}>Cena</option>
            </select>
        </div>
        <div>
            <label for="order">Pořadí:</label>
            <select name="order" id="order">
                <option value="ASC" {% if order == 'ASC' %}selected{% endif %}>Vzestupně</option>
                <option value="DESC" {% if order == 'DESC' %}selected{% endif %}>Sestupně</option>
            </select>
        </div>
    </div>
    <div class="filter-input">
        <div>
            <label for="filter_field">Filtr podle:</label>
            <select name="filter_field" id="filter_field">
                <option value="name" {% if filter_field == 'name' %}selected{% endif %}>Nazev</option>
                <option value="brand" {% if filter_field == 'brand' %}selected{% endif %}>Znacka</option>
                <option value="material" {% if filter_field == 'material' %}selected{% endif %}>Material</option>
            </select>
        </div>
        
        <div>
            <label for="filter_value">Hodnota filtru:</label>
            <input type="text" name="filter_value" id="filter_value" value="{{ filter_value }}">
        </div>
    </div>
    <button type="submit">Filtrovat a řadit</button>
</form>

<div class="table-container">
    <table>
        <thead>
                <tr>
                    <th class="code">Kod</th>
                    <th class="name">Nazev</th>
                    <th class="description">Popis</th>
                    <th class="price">Cena</th>
                    <th class="brand">Znacka</th>
                    <th class="material">Material</th>
                    <th class="edit"></th>
                </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td class="code">{{ product.code }}</td>
                    <td class="name">{{ product.name }}</td>
                    <td class="description">{{ product.description }}</td>
                    <td class="price">{{ product.price }}</td>
                    <td class="brand">{{ product.brand.name }}</td>
                    <td class="material">{{ product.material.name }}</td>
                    <td class="edit"><a href="{{ path('product_edit', {'id': product.id}) }}">Upravit</a></td>
                </tr>   
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pagination-container">
    {% if currentPage > 1 %}
        <a class='prev' href="{{ path('product_index', { page: currentPage - 1, sort: sort, order: order,
        filter_field: filter_field, filter_value: filter_value }) }}">Předchozí</a>
    {% endif %}
    <p class='pages'>{{ currentPage }}/{{ totalPages }}</p>
    {% if currentPage < totalPages %}
        <a class='next' href="{{ path('product_index', { page: currentPage + 1, sort: sort, order: order,
        filter_field: filter_field, filter_value: filter_value }) }}">Další</a>
    {% endif %}
</div>
{% endblock %}