{% extends 'base.html.twig' %}

{% block title %}Produkty{% endblock %}

{% block body %}

<table>
        <thead>
                <tr>
                    <th>Kod</th>
                    <th>Nazev</th>
                    <th>Popis</th>
                    <th>Cena</th>
                    <th>Znacka</th>
                    <th>Material</th>
                </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.code }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.brand.name }}</td>
                    <td>{{ product.material.name }}</td>
                </tr>
            {% endfor %}

{% endblock %}